@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-dark-bg: #0f0f0f;
	--color-dark-bg-lighter: #12121f;
}

@layer base {
	*, *::before, *::after {
    @apply transition-colors duration-300;
  }
	
	body {
	    @apply bg-white text-black;
	}

  .dark body {
    background-color: var(--color-dark-bg);
    color: white;
  }
}


.category-swiper .swipe-wrapper{
	transition-timing-function: linear !important;
}

.bw-card {
  transition: transform 0.3s ease;
}

.bw-card:hover {
  transform: translateY(-5px)
}