@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-dark-bg: #0f0f0f;
	--color-dark-bg-lighter: #12121f;
}

@layer base {
	*, *::before, *::after {
    @apply transition-colors duration-300;
	}
	
	body {
	    @apply bg-white text-black;
	}

	.dark body {
	    background-color: var(--color-dark-bg);
	    color: white;
	}
}

@layer base {
	.prose h1 {
	    @apply text-4xl mb-8 mt-12 pb-2 border-b-2 border-black dark:border-white;
	}

	.prose h2 {
	    @apply text-2xl font-bold mb-6 mt-10;
	}

	.prose h3 {
	    @apply text-xl font-semibold mb-4 mt-8;
	}

	.prose p {
		@apply text-[1.1875rem];
	}
	
	.prose a {
	    @apply text-black dark:text-white font-medium underline underline-offset-4 decoration-1 
        transition-colors duration-200;
	}

	.prose a:hover {
	    @apply decoration-2 bg-black/5 dark:bg-white/10;
	}

	.prose ul {
	    @apply list-disc list-inside mb-6 space-y-2;
	}
  
	.prose ol {
	    @apply list-decimal list-inside mb-6 space-y-2;
	}

	.prose blockquote {
		@apply text-sm text-gray-500 text-center not-italic border-l-0 mt-2;
	}

	.prose figure {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.prose figcaption {
		margin-top: 0.75em;
	}
}

.category-swiper .swipe-wrapper{
	transition-timing-function: linear !important;
}

.bw-card {
	transition: transform 0.3s ease;
}

.bw-card:hover {
	transform: translateY(-5px)
}