@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "tailwindcss";

@theme{
  --font-jetbrains: "JetBrains Mono", "Courier New", monospace;

  --color-bg-1: #0c0c0c;
  --color-bg-2: #111111;
	
  --color-border-1: #202020;
  --color-border-2: #2a2a2a;
	
  --color-text-1: #ebebeb;
  --color-text-2: #888;
  --color-text-3: #444;
	
  --color-accent: #00ff88;

  --radius-custom: 2px;

	--color-cat-dev-etc: #00ff88;
  --color-cat-ps: #00cfff;
  --color-cat-dev-blog: #ffcc00;
  --color-cat-album-review: #ff4466;
}

@variant light (&:where(.light, .light *));

.light{
  --color-bg-1: #f4f3ee;
  --color-bg-2: #eeede8;
	
  --color-border-1: #d8d7d0;
  --color-border-2: #cccbc4;
	
  --color-text-1: #1c1c1c;
  --color-text-2: #666;
  --color-text-3: #aaa;
	
  --color-accent: #007744;
}

@layer base{
  body{
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
    font-family: var(--font-jetbrains);
    line-height: 1.65;
    transition: background 0.25s, color 0.25s;
  }

  a{
    color: inherit;
    text-decoration: none;
  }
}

@layer components{
  .tag{
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 2px 8px;
    border: 1px solid;
    text-transform: lowercase;
    border-radius: var(--radius-custom);
    white-space: nowrap;
	}
  .tag-dev-etc { color: var(--color-cat-dev-etc); border-color: var(--color-cat-dev-etc); }
  .tag-ps { color: var(--color-cat-ps); border-color: var(--color-cat-ps); }
  .tag-dev-blog { color: var(--color-cat-dev-blog); border-color: var(--color-cat-dev-blog); }
  .tag-album-review { color: var(--color-cat-album-review); border-color: var(--color-cat-album-review); }
}

@keyframes blink{ 0%,100%{opacity:1} 50%{opacity:0} }
